@charset "UTF-8";
.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.floatl {
  float: left;
  width: 20%;
}

.clear {
  clear: left;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mb-35 {
  margin-bottom: 35px;
}

.hidden {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  display: flex;
  justify-content: center;
}

body {
  font-size: 18px;
  width: 66.66%;
  padding: 40px 80px 30px 80px;
  box-shadow: 0 0 15px #dfdfdf;
}

.btn {
  font-family: inherit;
  height: 50px;
  padding: 0 10px;
  color: #f86c5b;
  background-color: transparent;
  border: 1px solid #f86c5b;
  transition: all 350ms ease-in-out;
}

.btn:hover {
  color: white;
  background-color: #f86c5b;
  transition: all 350ms ease-in-out;
}

.btn-add {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  font-size: 18px;
  width: 170px;
}

a {
  text-decoration: none;
  color: #1a9cb0;
}

.map-link {
  text-decoration: dotted;
  justify-self: left;
  text-align: left;
  color: #1a9cb0;
  border: none;
  outline: none;
  background-color: transparent;
  margin-right: auto;
  transition: color 150ms ease-in-out;
}

.map-link:hover {
  color: #1e717e;
  transition: color 150ms ease-in-out;
}

.map-container {
  height: 200px;
  display: none;
}

.chart-wrap {
  height: 500px;
  justify-content: center;
}

.styled-navbar {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
}
.styled-navbar .logo {
  font-family: "Lora", serif;
  font-size: 40px;
  font-weight: 600;
  font-kerning: none;
  letter-spacing: 2px;
  text-decoration: none;
  color: #fff;
  text-shadow: 1.5px 0.6px #2d2d2d, -1.5px -0.9px #f86c5b;
  transition: text-shadow 350ms ease-in-out;
}
.styled-navbar .logo:hover {
  text-shadow: 2.5px 0.6px #2d2d2d, -2.5px -0.9px #f86c5b;
  transition: text-shadow 350ms ease-in-out;
}
.styled-navbar .search {
  width: 215px;
  height: 40px;
  min-width: fit-content;
  margin-right: 20px;
  transition: width 1s ease-in-out;
  flex-direction: column;
  position: relative;
}
.styled-navbar .search .search-input {
  width: 100%;
  height: 40px;
  min-width: fit-content;
  border: 1px solid #767676;
  padding: 0 2px 0 8px;
}
.styled-navbar .search .search-input:focus, .styled-navbar .search .search-input:active {
  width: 100%;
  transition: width 1s ease-in-out;
  outline: none;
}
.styled-navbar .search .searched-list {
  z-index: 1;
  position: absolute;
  width: 100%;
  max-height: 20px;
  top: 40px;
  background-color: white;
  box-shadow: 0 0 15px #dfdfdf;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: max-height 0.5s ease-in-out;
}
.styled-navbar .search .searched-list .searched-card {
  height: 100px;
  flex-direction: row;
  margin: 10px;
}
.styled-navbar .search .searched-list .searched-card .searched-card-img {
  height: 80px;
  width: 80px;
}
.styled-navbar .search .searched-list .searched-card .searched-card-initials {
  background-color: white;
  border: 3px solid #f86c5b;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
}
.styled-navbar .search .searched-list .searched-card .searched-card-initials p {
  color: #f86c5b;
  font-size: 18px;
}
.styled-navbar .search .searched-list .searched-card .searched-card-info {
  text-align: left;
  padding: 10px;
}
.styled-navbar .search .searched-list .searched-card .searched-card-info p:nth-child(1) {
  font-size: 18px;
}
.styled-navbar .search .searched-list .searched-card .searched-card-info p:nth-child(2) {
  font-size: 14px;
  color: #767676;
}
.styled-navbar .search .searched-list .searched-card .searched-card-info p:nth-child(3) {
  font-size: 12px;
  color: #2d2d2d;
}
.styled-navbar .search .searched-list .searched-card:hover {
  background-color: #dfdfdf;
}
.styled-navbar .search:hover {
  width: 350px;
  transition: width 1s ease-in-out;
}
.styled-navbar .search-btn {
  width: 95px;
  height: 40px;
}

.nav-links ul {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  align-items: center;
}
.nav-links ul a {
  color: #f86c5b;
  font-size: 18px;
  text-decoration: none;
  margin: 0 10px;
  transition: color 250ms ease-in-out;
}
.nav-links ul a:hover {
  color: #cc4836;
  transition: color 250ms ease-in-out;
}

main h1 {
  margin: 35px 0 35px 0;
}
main .styled-section {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
main .teachers-list p.no-data-message {
  font-size: 20px;
  color: #f86c5b;
}
main div.form-container {
  padding-right: 1%;
  margin-right: 1%;
}
main div.form-container label {
  font-size: 14px;
  padding-right: 5px;
  align-items: center;
  color: #767676;
  transition: color 250ms ease-in-out;
}
main div.form-container select {
  height: 35px;
}
main div.form-container:hover label {
  color: #2d2d2d;
  transition: color 250ms ease-in-out;
}
main form {
  align-items: center;
  margin-bottom: 45px;
}
main form div.form-container:not(:last-child) {
  border-right: 1px dotted #767676;
}
main div.teacher-card {
  min-width: 150px;
  margin-bottom: 45px;
}
main div.teacher-card div.card-img {
  position: relative;
  height: 140px;
  width: 140px;
  margin: 0 auto 0 auto;
}
main div.teacher-card div.card-img div.img-wrapper {
  border-radius: 50%;
  height: 100%;
  border: 3px solid #f86c5b;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
main div.teacher-card div.card-img div.img-wrapper img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out;
}
main div.teacher-card div.card-img div.img-wrapper .initials {
  color: #f86c5b;
  font-size: 20px;
  transition: transform 1s ease-in-out;
}
main div.teacher-card div.card-img div.img-wrapper:hover {
  border: 3px solid #cc4836;
}
main div.teacher-card div.card-img div.img-wrapper:hover img {
  transform: scale(1.25);
  transition: transform 0.5s ease-in-out;
}
main div.teacher-card div.card-img div.img-wrapper:hover .initials {
  transform: scale(1.25);
  transition: transform 0.5s ease-in-out;
}
main div.teacher-card .teacher-info {
  text-align: center;
}
main div.teacher-card .teacher-info div:nth-child(1) {
  padding-top: 25px;
  font-size: 18px;
}
main div.teacher-card .teacher-info div:nth-child(2) {
  padding-top: 5px;
  color: #767676;
  font-size: 13px;
}
main div.teacher-card .teacher-info div:nth-child(3) {
  padding-top: 3px;
  font-size: 10px;
}
main div.favourite div.card-img::after {
  content: "";
  position: absolute;
  color: black;
  top: 10px;
  right: 0;
  width: 30px;
  height: 30px;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/FA_star.svg/2048px-FA_star.svg.png);
  background-size: 30px 30px;
}
main table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: separate;
}
main table thead th {
  padding: 10px 0;
  border-bottom: 4px solid transparent;
}
main table thead th:first-child {
  padding-left: 25px;
  text-align: left;
}
main table thead th:hover {
  position: relative;
  border-bottom: 4px solid #2d2d2d;
}
main table thead th:hover::after {
  position: absolute;
  content: "🠓";
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  color: #1a9cb0;
  width: 20px;
  height: 20px;
}
main table tbody {
  font-size: 14px;
  color: #2d2d2d;
}
main table tbody td {
  padding: 10px 15px;
}
main table tbody tr:nth-child(even) {
  background-color: #f9f5f9;
}
main table tbody td:nth-child(1) {
  text-align: left;
  width: 20%;
}
main table tbody td:nth-child(2) {
  width: 30%;
}
main table tbody td:nth-child(3) {
  width: 10%;
}
main table tbody td:nth-child(4) {
  width: 20%;
  text-transform: capitalize;
}
main table tbody tr:nth-child(1) td {
  border-top: 1px solid #2d2d2d;
}
main .pages {
  text-align: left;
}
main .pages .btn-table {
  outline: none;
  border: 0;
  background-color: transparent;
  color: #1a9cb0;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  font-size: 13px;
  padding: 0 15px;
}
main .pages .table-dots {
  padding: 0 15px;
  color: #1a9cb0;
}
main .carousel {
  margin-left: -70px;
  margin-right: -70px;
}
main .carousel .arrow {
  margin: 0 10px 0 0;
  width: 45px;
  height: 150px;
  opacity: 0.5;
  background-color: transparent;
  border: 0;
  border-radius: 5px;
  transition: opacity 350ms ease-in-out;
}
main .carousel .arrow svg {
  width: 45px;
  height: 150px;
}
main .carousel .arrow:hover {
  opacity: 1;
  transition: opacity 350ms ease-in-out;
}
main .carousel .arrow:active, main .carousel .arrow:focus {
  background-color: #767676;
}
main .carousel .right-arrow {
  margin: 0 0 0 10px;
  transform: rotate(180deg);
}
main .carousel .cards-wrapper {
  overflow: hidden;
}
main .carousel .cards-wrapper .carousel-body {
  justify-content: space-between;
  transition: transform 350ms ease-out;
}
main .carousel .cards-wrapper .carousel-body div.favourite div.card-img:after {
  background-image: none;
}

footer p {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: left;
  margin-bottom: 15px;
}
footer div {
  margin: 35px 0 35px 0;
}

hr.styled-hr {
  width: 50%;
  border-top: 1px solid #767676;
}

section.modal {
  position: fixed;
  z-index: 2;
  background-color: white;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  box-shadow: 0px 0px 15px #2d2d2d;
}
section.modal .modal-header {
  background-color: #464547;
  color: white;
  padding: 10px 10px 10px 10px;
  align-items: center;
}
section.modal .modal-header button.close {
  color: white;
  background-color: transparent;
  border: 0;
  border-radius: 5px;
  font-size: 25px;
  height: 25px;
  width: 25px;
}
section.modal .modal-header button.close svg {
  height: 25px;
  width: 25px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(152deg) brightness(105%) contrast(102%);
}
section.modal .modal-header button.close:hover {
  background-color: #2d2d2d;
}
section.modal .modal-image {
  width: 225px;
  height: 225px;
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}
section.modal .modal-content {
  padding: 15px;
}
section.modal .modal-content p {
  text-align: left;
  color: #767676;
}
section.modal .modal-content .modal-text {
  font-size: 14px;
}
section.modal .modal-content .modal-text * {
  padding: 5px 0;
}
section.modal .modal-content .modal-text .info-btn-wrap {
  justify-content: space-between;
}
section.modal .modal-content .modal-text .info-btn-wrap .info {
  flex-direction: column;
  text-align: left;
}
section.modal .modal-content .modal-text .info-btn-wrap .info h2 {
  min-width: fit-content;
  font-size: 30px;
  padding: 10px 0;
}
section.modal .modal-content .modal-text .info-btn-wrap .info h4 {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
}
section.modal .modal-content .modal-text .info-btn-wrap button {
  width: 40px;
  height: 40px;
  border: 0;
  outline: none;
  margin: 0 5px;
  background-color: transparent;
}
section.modal .modal-content .modal-text .info-btn-wrap button svg {
  width: 40px;
  height: 40px;
}

section.modal-user {
  top: 50%;
  left: 50%;
  min-width: 550px;
  width: 40%;
  transform: translate(-50%, -50%);
}

section.modal-form {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
}

form.grid {
  display: grid;
  margin-bottom: 15px;
  width: fit-content;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 10%) repeat(2, 6%) 20% 10%;
  grid-column-gap: 25px;
  grid-row-gap: 10px;
}
form.grid label {
  width: 100%;
  font-size: 14px;
  text-align: left;
  color: #767676;
  padding-bottom: 5px;
}
form.grid select {
  width: 100%;
  height: 30px;
  border: 1px solid #767676;
  outline: none;
  padding-left: 5px;
}
form.grid input {
  border: 1px solid #767676;
  height: 30px;
  outline: none;
  padding-left: 5px;
}
form.grid p.error-message {
  font-size: 14px;
  padding-top: 3px;
  color: #cc4836;
  word-wrap: normal;
}
form.grid .item1 {
  grid-area: 1/1/2/3;
  flex-direction: column;
}
form.grid .item2 {
  grid-area: 2/1/3/3;
  flex-direction: column;
}
form.grid .item3 {
  grid-area: 3/1/4/2;
  flex-direction: column;
}
form.grid .item4 {
  grid-area: 3/2/4/3;
  flex-direction: column;
}
form.grid .item5 {
  grid-area: 4/1/5/2;
  flex-direction: column;
}
form.grid .item6 {
  grid-area: 4/2/5/3;
  flex-direction: column;
}
form.grid .item7 {
  grid-area: 5/1/6/2;
  flex-direction: column;
}
form.grid .item8 {
  grid-area: 6/1/7/2;
  align-items: left;
  flex-direction: column;
}
form.grid .item8 div {
  align-items: center;
}
form.grid .item8 label {
  padding-right: 15px;
}
form.grid .item8 input {
  margin-right: 5px;
}
form.grid .item9 {
  grid-area: 7/1/8/2;
  flex-direction: column;
}
form.grid .item9 input {
  padding: 5px 2px;
}
form.grid .item10 {
  grid-area: 8/1/9/3;
  flex-direction: column;
  padding-bottom: 20px;
}
form.grid .item10 textarea {
  resize: none;
  outline: none;
}
form.grid .item11 {
  grid-area: 9/1/10/3;
  width: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 45, 45, 0.6666666667);
  backdrop-filter: blur(4px);
  z-index: 1;
}

@media (max-width: 991px) {
  body {
    width: 100%;
  }
  main .carousel {
    margin: 0;
  }
  section.modal .modal-image {
    float: none;
    width: 225px;
    height: 225px;
    margin: 15px auto 15px auto;
  }
  form.grid {
    grid-column-gap: 5px;
    padding: 15px;
  }
  form.grid .item10 {
    padding-bottom: 5px;
  }
  section.modal-form .modal-content {
    padding: 0;
  }
}
@media (max-width: 767px) {
  body {
    padding: 20px 20px 10px 20px;
  }
  .styled-navbar div {
    flex-wrap: wrap;
  }
  .styled-navbar div .logo {
    flex: 100%;
  }
  .styled-navbar div .search {
    flex: 70%;
  }
  .styled-navbar div .search .search-input {
    height: 40px;
    margin-left: 0;
  }
  .styled-navbar div .search .search-input:hover {
    width: 100%;
  }
  .styled-navbar div .search .search-btn {
    margin-top: 20px;
    min-width: fit-content;
  }
  .styled-navbar div .search:hover {
    width: 10px;
  }
  div.nav-links {
    flex-wrap: wrap;
    justify-content: center;
  }
  div.nav-links ul {
    justify-content: center;
    flex: 100%;
  }
  div.nav-links ul a {
    font-size: 14px;
  }
  div.nav-links button {
    min-width: fit-content;
    margin: 20px 0 0 0;
  }
  main #teachers form {
    flex-direction: row;
    justify-content: center;
  }
  main #teachers form .form-container {
    margin-bottom: 20px;
    flex: 20%;
    min-width: fit-content;
  }
  main #teachers div.teacher-card:first-child {
    margin: 0 0 15px 0;
  }
  main #teachers div.teacher-card:last-child {
    margin: 20px 0 25px 0;
  }
  main #teachers div.teacher-card {
    width: 100%;
    height: 100%;
    margin: 15px 0;
  }
  main #teachers div.teacher-card div.card-img {
    height: 175px;
    width: 175px;
  }
  main #teachers div.favourite div.card-img::after {
    top: 15px;
    right: 0;
    width: 35px;
    height: 35px;
    background-size: 35px 35px;
  }
  main table thead {
    font-size: 70%;
  }
  main table thead th {
    padding: 5px 5px;
  }
  main table thead th:first-child {
    padding-left: 10px;
  }
  main table thead th:hover {
    border-bottom: 2px solid #2d2d2d;
  }
  main table thead th:hover::after {
    content: "";
  }
  main table tbody {
    font-size: 60%;
  }
  main table tbody td {
    padding: 10px 5px;
  }
  main .carousel {
    margin: 0;
  }
  section.modal .modal-image {
    float: none;
    width: 200px;
    height: 200px;
    margin: 5px auto 5px auto;
  }
  section.modal .modal-content {
    width: 100%;
    padding: 10px;
  }
  section.modal .modal-content .modal-text {
    font-size: 12px;
  }
  section.modal .modal-content .modal-text * {
    padding: 5px 0;
  }
  section.modal .modal-content .modal-text .info h2 {
    font-size: 28px;
    padding: 0;
  }
  section.modal .modal-content .modal-text .info h4 {
    font-size: 16px;
    padding: 0;
  }
  form.grid {
    margin: 0 auto;
    padding: 0;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    grid-template-columns: minmax(10px, auto) minmax(10px, auto);
    grid-template-rows: repeat(5, 10%) repeat(2, 6%) 20% 10%;
  }
  section.modal-form {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: none;
  }
  section.modal-user {
    min-width: fit-content;
    width: auto;
  }
}
@media (max-width: 300px) {
  body {
    padding: 20px 20px 10px 20px;
  }
  .styled-navbar div .search .search-input {
    width: 100%;
  }
  .styled-navbar div .search .searched-list .searched-card {
    height: fit-content;
    flex-direction: column;
    margin: 10px;
  }
  .styled-navbar div .search .searched-list .searched-card .searched-card-info {
    padding: 10px 0 0;
  }
  div.nav-links {
    justify-content: center;
  }
  div.nav-links ul {
    flex-wrap: wrap;
  }
  div.nav-links ul li {
    flex: 100%;
  }
  table thead th {
    font-size: 90%;
    padding: 5px 5px;
  }
  table thead th:first-child {
    padding-left: 10px;
  }
  table tbody td {
    font-size: 7px;
    width: 50px;
    padding: 10px 5px;
  }
  main .carousel {
    margin: 0;
    align-items: center;
  }
  main .carousel .arrow {
    width: 25px;
    height: 75px;
  }
  main .carousel .arrow svg {
    width: 25px;
    height: 75px;
  }
}

/*# sourceMappingURL=styles.css.map */
