$shadow-color: #dfdfdf;
$logo-color: #fff;
$dark-gray: #2d2d2d;
$light-gray: #767676;
$orange-color: #f86c5b;
$orange-hover: #cc4836;
$table-row: #f9f5f9;
$table-arrow: #1a9cb0;
$modal-header: #464547;

.d-flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.floatl {
    float: left;
    width: 20%;
}
.clear {
    clear: left;
}

.ml-auto {
    margin-left: auto;
}
.mr-auto {
    margin-right: auto;
}
.mb-35 {
    margin-bottom: 35px;
}

.hidden {
    display: none;
}

@mixin font-space-grotesk($a) {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: $a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: flex;
    justify-content: center;
}

body {
    font-size: 18px;
    width: 66.66%;
    padding: 40px 80px 30px 80px;
    box-shadow: 0 0 15px $shadow-color;
}

.btn {
    font-family: inherit;
    height: 50px;
    padding: 0 10px;
    color: $orange-color;
    background-color: transparent;
    border: 1px solid $orange-color;
    transition: all 350ms ease-in-out;
}
.btn:hover {
    color: white;
    background-color: $orange-color;
    transition: all 350ms ease-in-out;
}   
.btn-add {
    @include font-space-grotesk(600);
    font-size: 18px;
    width: 170px;
}
a {
    text-decoration: none;
    color: $table-arrow;
}

.map-link {
    text-decoration: dotted;
    justify-self: left;
    text-align: left;
    color: $table-arrow;
    border: none;
    outline: none;
    background-color: transparent;
    margin-right: auto;
    transition: color 150ms ease-in-out;
}
.map-link:hover {
    color: #1e717e;
    transition: color 150ms ease-in-out;
}
.map-container {
    height: 200px;
    display: none;
}
.chart-wrap {
    height: 500px;
    justify-content: center;
}
.styled-navbar {
    @include font-space-grotesk(600);

    .logo {
        font-family: 'Lora', serif;
        font-size: 40px;
        font-weight: 600;
        font-kerning: none;
        letter-spacing: 2px;
        text-decoration: none;
        color: $logo-color;
        text-shadow: 1.5px 0.6px $dark-gray, -1.5px -0.9px $orange-color;
        transition: text-shadow 350ms ease-in-out;
    }
    .logo:hover {
        text-shadow: 2.5px 0.6px $dark-gray, -2.5px -0.9px $orange-color;
        transition: text-shadow 350ms ease-in-out;
    }
    .search {
        width: 215px;
        height: 40px;
        min-width: fit-content;
        margin-right: 20px;
        transition: width 1s ease-in-out;
        flex-direction: column;
        position: relative;
        .search-input {
            width: 100%;
            height: 40px;
            min-width: fit-content;
            border: 1px solid $light-gray;
            padding: 0 2px 0 8px;
        }
        .search-input:focus, .search-input:active {
            width: 100%;
            transition: width 1s ease-in-out;
            outline: none;
        }
        .searched-list {
            z-index: 1;
            position: absolute;
            width: 100%;
            max-height: 20px;
            top: 40px;
            background-color: white;
            box-shadow: 0 0 15px $shadow-color;
            overflow-y: scroll;
            overflow-x: hidden;
            transition: max-height 0.5s ease-in-out;
            .searched-card {
                height: 100px;
                flex-direction: row;
                margin: 10px;
                .searched-card-img {
                    height: 80px;
                    width: 80px;
                }
                .searched-card-initials {
                    background-color: white;
                    border: 3px solid $orange-color;
                    justify-content: center;
                    align-items: center;
                    height: 80px;
                    width: 80px;
                    p {
                        color: $orange-color;
                        font-size: 18px;
                    }
                }
                .searched-card-info {
                    text-align: left;
                    padding: 10px;
                    p:nth-child(1) {
                        font-size: 18px;
                    }
                    p:nth-child(2) {
                        font-size: 14px;
                        color: $light-gray;
                    }
                    p:nth-child(3) {
                        font-size: 12px;
                        color: $dark-gray;
                    }
                }
            }
            .searched-card:hover {
                background-color: $shadow-color;
            }
        }
    }
    .search:hover {
        width: 350px;
        transition: width 1s ease-in-out;
    }
    .search-btn {
        width: 95px;
        height: 40px;
    }
}

.nav-links {
    ul {
        @include font-space-grotesk(600);
        align-items: center;
        a {
            color: $orange-color;
            font-size: 18px;
            text-decoration: none;
            margin: 0 10px;
            transition: color 250ms ease-in-out;
        }
        a:hover {
            color: $orange-hover;
            transition: color 250ms ease-in-out;
        }
    }
}

main {
    h1 {
        margin: 35px 0 35px 0;
    }
    .styled-section {
        @include font-space-grotesk(500);
        font-size: 16px;
    }

    .teachers-list {
        p.no-data-message {
            font-size: 20px;
            color: $orange-color;
        }
    }

    div.form-container {
        padding-right: 1%;
        margin-right: 1%;
        label {
            font-size: 14px;
            padding-right: 5px;
            align-items: center;
            color: $light-gray;
            transition: color 250ms ease-in-out;
        }
        select {
            height: 35px;
        }
    }
    div.form-container:hover {
        label {
            color: $dark-gray;
            transition: color 250ms ease-in-out;
        }
    }

    form {
        align-items: center;
        margin-bottom: 45px;
        div.form-container:not(:last-child) {
            border-right: 1px dotted $light-gray;
        }
    }
    div.teacher-card {
        min-width: 150px;
        margin-bottom: 45px;
        div.card-img {
            position: relative;
            height: 140px;
            width: 140px;
            margin: 0 auto 0 auto;
            div.img-wrapper {
                border-radius: 50%;
                height: 100%;
                border: 3px solid $orange-color;
                overflow: hidden;
                justify-content: center;
                align-items: center;
                img {
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                    transition: transform 1s ease-in-out;
                }

                .initials {
                    color: $orange-color;
                    font-size: 20px;
                    transition: transform 1s ease-in-out;
                }
            }
            div.img-wrapper:hover {
                border: 3px solid $orange-hover;
                img {
                    transform: scale(1.25);
                    transition: transform 0.5s ease-in-out;
                }
                .initials {
                    transform: scale(1.25);
                    transition: transform 0.5s ease-in-out;
                }
            }
        }

        .teacher-info {
            text-align: center;
            div:nth-child(1) {
                padding-top: 25px;
                font-size: 18px;
            }
            div:nth-child(2) {
                padding-top: 5px;
                color: $light-gray;
                font-size: 13px;
            }
            div:nth-child(3) {
                padding-top: 3px;
                font-size: 10px;
            }
        }
    }
    div.favourite {
        div.card-img::after {
            content: "";
            position: absolute;
            color: black;
            top: 10px;
            right: 0;
            width: 30px;
            height: 30px;
            background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/FA_star.svg/2048px-FA_star.svg.png);
            background-size: 30px 30px; 
        }
    }

    table {
        width: 100%;
        margin-bottom: 20px;
        border-collapse: separate;
        thead {
            th {
                padding: 10px 0;
                border-bottom: 4px solid transparent;
            }
            th:first-child {
                padding-left: 25px;
                text-align: left;
            }
            th:hover {
                position: relative;
                border-bottom: 4px solid $dark-gray;
            }
            th:hover::after {
                position: absolute;
                content: "🠓";
                font-size: 22px;
                font-weight: 600;
                text-align: center;
                color: $table-arrow;
                width: 20px;
                height: 20px;
            }
        }
        tbody {
            font-size: 14px;
            color: $dark-gray;
            td {
                padding: 10px 15px;
            }
            tr:nth-child(even) {
                background-color: $table-row;
            }
            td:nth-child(1) {
                text-align: left;
                width: 20%;
            }
            td:nth-child(2) {
                width: 30%;
            }
            td:nth-child(3) {
                width: 10%;
            }
            td:nth-child(4) {
                width: 20%;
                text-transform: capitalize;
            }
            tr:nth-child(1) {
                td {
                    border-top: 1px solid #2d2d2d;
                }
            }
        }
    }

    .pages {
        text-align: left;
        .btn-table {
            outline: none;
            border: 0;
            background-color: transparent;
            color: $table-arrow;
            @include font-space-grotesk(600);
            font-size: 13px;
            padding: 0 15px;
        }
        .table-dots {
            padding: 0 15px;
            color: $table-arrow;
        }
    }

    .carousel {
        margin-left: -70px;
        margin-right: -70px;
        .arrow {
            margin: 0 10px 0 0;
            width: 45px;
            height: 150px;
            opacity: 0.5;
            background-color: transparent;
            border: 0;
            border-radius: 5px;
            transition: opacity 350ms ease-in-out;
            svg {
                width: 45px;
                height: 150px;
            }
        }
        .arrow:hover {
            opacity: 1;
            transition: opacity 350ms ease-in-out;
        }
        .arrow:active, .arrow:focus {
            background-color: $light-gray;
        }
        .right-arrow {
            margin: 0 0 0 10px;
            transform: rotate(180deg);
        }

        .cards-wrapper {
            overflow: hidden;
            .carousel-body {
                justify-content: space-between;
                transition: transform 350ms ease-out;
                div.favourite {
                    div.card-img:after {
                        background-image: none;
                    }
                }
            }  
        }
    }
}

footer {
    p {
        @include font-space-grotesk(500);
        font-size: 14px;
        text-align: left;
        margin-bottom: 15px;
    }

    div {
        margin: 35px 0 35px 0;
    }
}
hr.styled-hr {
    width: 50%;
    border-top: 1px solid $light-gray;
}

section.modal {
    position: fixed;
    z-index: 2;
    background-color: white;
    @include font-space-grotesk(500);
    box-shadow: 0px 0px 15px $dark-gray;

    .modal-header {
        background-color: $modal-header;
        color: white;
        padding: 10px 10px 10px 10px;
        align-items: center;

        button.close {
            color: white;
            background-color: transparent;
            border: 0;
            border-radius: 5px;
            font-size: 25px;
            height: 25px;
            width: 25px;

            svg {
                height: 25px;
                width: 25px;
                filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(152deg) brightness(105%) contrast(102%);
            }
        }
        button.close:hover {
            background-color: $dark-gray;
        }
    }

    .modal-image {
        width: 225px;
        height: 225px;
        margin-right: 15px;
        margin-bottom: 15px;
        border-radius: 5px;
    }

    .modal-content {
        padding: 15px;
        p {
            text-align: left;
            color: $light-gray;
        }
        .modal-text {
            font-size: 14px;
            * {
                padding: 5px 0;
            }
            .info-btn-wrap {
                justify-content: space-between;
                .info {
                    flex-direction: column;
                    text-align: left;

                    h2 {
                        min-width: fit-content;
                        font-size: 30px;
                        padding: 10px 0;
                    }
                    
                    h4 {
                        font-size: 18px;
                        font-weight: bold;
                        padding: 10px 0;
                    }
                }
                button {
                    width: 40px;
                    height: 40px;
                    border: 0;
                    outline: none;
                    margin: 0 5px;
                    background-color: transparent;
                    svg {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }        
    }
}

section.modal-user {
    top: 50%;
    left: 50%;
    min-width: 550px;
    width: 40%;
    transform: translate(-50%, -50%);
}

section.modal-form {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
}

form.grid {
    display: grid;
    margin-bottom: 15px;
    width: fit-content;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 10%) repeat(2, 6%) 20% 10%;
    grid-column-gap: 25px;
    grid-row-gap: 10px;

    label {
        width: 100%;
        font-size: 14px;
        text-align: left;
        color: $light-gray;
        padding-bottom: 5px;
    }
    select {
        width: 100%;
        height: 30px;
        border: 1px solid $light-gray;
        outline: none;
        padding-left: 5px; 
    }
    input {
        border: 1px solid $light-gray;
        height: 30px;
        outline: none;
        padding-left: 5px; 
    }
    p.error-message {
        font-size: 14px;
        padding-top: 3px;
        color: $orange-hover;
        word-wrap: normal;
    }
    .item1 { 
        grid-area: 1 / 1 / 2 / 3; 
        flex-direction: column;
    }
    .item2 { 
        grid-area: 2 / 1 / 3 / 3; 
        flex-direction: column;
    }
    .item3 { 
        grid-area: 3 / 1 / 4 / 2; 
        flex-direction: column;
    }
    .item4 { 
        grid-area: 3 / 2 / 4 / 3;
        flex-direction: column;
    }
    .item5 { 
        grid-area: 4 / 1 / 5 / 2; 
        flex-direction: column;
    }
    .item6 { 
        grid-area: 4 / 2 / 5 / 3; 
        flex-direction: column;
    }
    .item7 { 
        grid-area: 5 / 1 / 6 / 2; 
        flex-direction: column;
    }
    .item8 { 
        grid-area: 6 / 1 / 7 / 2;
        align-items: left;
        flex-direction: column;
        div {
            align-items: center;
        }
        label {
            padding-right: 15px;
        }
        input {
            margin-right: 5px;
        }
    }
    .item9 {
        grid-area: 7 / 1 / 8 / 2;
        flex-direction: column;

        input {
            padding: 5px 2px;
        }
    }
    .item10 { 
        grid-area: 8 / 1 / 9 / 3;
        flex-direction: column;
        textarea {
            resize: none;
            outline: none;
        }
        padding-bottom: 20px;
    }
    .item11 { 
        grid-area: 9 / 1 / 10 / 3; 
        width: 100%;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #2d2d2daa;
    backdrop-filter: blur(4px);
    z-index: 1;
}

@media (max-width: 991px) {
    body {
        width: 100%;
    }

    main {
        .carousel {
            margin: 0;
        }
    }
    section.modal {
        .modal-image {
            float: none;
            width: 225px;
            height: 225px;
            margin: 15px auto 15px auto;
        }
    }

    form.grid {
        grid-column-gap: 5px;
        padding: 15px;
        .item10 {
            padding-bottom: 5px;
        }
    }

    section.modal-form {
        .modal-content {
            padding: 0;
        }
    }
}

@media (max-width: 767px) {
    body {
        padding: 20px 20px 10px 20px;
    }
    .styled-navbar {
        div {
            flex-wrap: wrap;
           .logo {
                flex: 100%;
            }
            .search {
                flex: 70%;
                .search-input {
                    height: 40px;
                    margin-left: 0;
                }
                .search-input:hover {
                    width: 100%;
                }
                .search-btn {
                    margin-top: 20px;
                    min-width: fit-content;
                }
            }
            .search:hover {
                width: 10px;
            }
        }
    }

    div.nav-links {
        flex-wrap: wrap;
        justify-content: center;
        ul {
            justify-content: center;
            flex: 100%;
            a {
                font-size: 14px;
            }
        }
        button {
            min-width: fit-content;
            margin: 20px 0 0 0;
        }
    }

    main {
        #teachers {
            form {
                flex-direction: row;
                justify-content: center;
                .form-container {
                    margin-bottom: 20px;
                    flex: 20%;
                    min-width: fit-content;
                }
            }

            div.teacher-card:first-child {
                margin: 0 0 15px 0;
            }
            div.teacher-card:last-child {
                margin: 20px 0 25px 0;
            }

            div.teacher-card {
                width: 100%;
                height: 100%;
                margin: 15px 0;
                div.card-img {
                    height: 175px;
                    width: 175px;
                }
            } 
            div.favourite {
                div.card-img::after {
                    top: 15px;
                    right: 0;
                    width: 35px;
                    height: 35px;
                    background-size: 35px 35px; 
                }
            } 
        }

        table {
            thead {
                font-size: 70%;
                th {
                    padding: 5px 5px;
                }
                th:first-child {
                    padding-left: 10px;
                }
                th:hover {
                    border-bottom: 2px solid $dark-gray;
                }
                th:hover::after {
                    content: "";
                }
            }
            tbody {
                font-size: 60%;
                td {
                    padding: 10px 5px;
                }
            }
        }

        .carousel {
            margin: 0;
        }
    }

    section.modal {
        .modal-image {
            float: none;
            width: 200px;
            height: 200px;
            margin: 5px auto 5px auto;
        }
    
        .modal-content {
            width: 100%;
            padding: 10px;
            .modal-text {
                font-size: 12px;
                * {
                    padding: 5px 0;
                }
                .info {
                    h2 {
                        font-size: 28px;
                        padding: 0;
                    }
                    h4 {
                        font-size: 16px;
                        padding: 0;
                    }
                }
            }        
        }
    }

    form.grid {
        margin: 0 auto;
        padding: 0;
        grid-column-gap: 10px;
        grid-row-gap: 5px;
        grid-template-columns: minmax(10px, auto) minmax(10px, auto);
        grid-template-rows: repeat(5, 10%) repeat(2, 6%) 20% 10%;
    }

    section.modal-form {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: none;
    }

    section.modal-user {
        min-width: fit-content;
        width: auto;
    }
}

@media (max-width: 300px) {
    body {
        padding: 20px 20px 10px 20px;

    }
    .styled-navbar {
        div {
            .search {
                .search-input {
                    width: 100%;
                }
                .searched-list {
                    .searched-card {
                        height: fit-content;
                        flex-direction: column;
                        margin: 10px;
                        .searched-card-info {
                            padding: 10px 0 0;
                        }
                    }
                }
            }
        }
    }
    div.nav-links {
        justify-content: center;
        ul {
            flex-wrap: wrap;
            li {
                flex: 100%;
            }
        }
    }

    table {
        thead {
            th {
                font-size: 90%;
                padding: 5px 5px;
            }
            th:first-child {
                padding-left: 10px;
            }
        }
        tbody {
            td {
                font-size: 7px;
                width: 50px;
                padding: 10px 5px;
            }
        }
    }

    main {
        .carousel {
            margin: 0;
            align-items: center;
            .arrow {
                width: 25px;
                height: 75px;
                svg {
                    width: 25px;
                    height: 75px;
                }
            }
        }
    }
}
